# object files
*.o
*.lo
*.slo
*.obj

# precompiled headers
*.gch
*.pch

# dynamic libraries
*.so
*.dylib
*.dll

# static libraries
*.a
*.la
*.lai
*.lib

# executables
*.app
*.exe
*.out

# cmake
build/
build_debug/
cmake-build-debug/

# example, test executables and outputs
examples/c/test
examples/cpp/test
testcases/simulateSBML
testcases/out.csv
testcases/*-results.csv

# IntelliJ
.idea/
